.card{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  text-decoration: none;
  color: black;
}
.card:last-child{
  margin-bottom: 0;
}
.image{
  width: 200px;
}
.year{
  display: block;
  margin-bottom: 10px;
}
.mr_10{
  margin-right: 10px;
}
.bold{
  font-weight: 600;
}